body {
  background-color: rgb(228, 217, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#container {
  background-color: rgb(220, 209, 248);
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

button {
  margin-top: 10px;
}
